<ion-content color="dark" padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="dark" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="username" placeholder="Username" [(ngModel)]="iName"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" [(ngModel)]="iPass" required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <p *ngIf="wrongCredentials">Wrong credentials</p>
            <ion-button size="large" [disabled]="form.invalid" (click)="attemptLogin()">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>