<ion-header>
  <ion-toolbar>
    <ion-title>caregiver</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4"> Full name </ion-col>
      <ion-col> Birthdate </ion-col>
      <ion-col> Address </ion-col>
      <ion-col> User Role </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-item *ngFor="let user of patients; let i = index">
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-input value="{{user.name}}"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input value="{{user.birthdate}}"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input value="{{user.address}}"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input value="{{user.role}}"></ion-input>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-card-content>
</ion-content>
